# Docker Registry
DOCKER_REGISTRY=812661756903.dkr.ecr.ap-south-1.amazonaws.com
IMAGE_TAG=latest

# RDS Configuration
RDS_ENDPOINT=mlera-postgres-db.cxesw4ko2d5b.ap-south-1.rds.amazonaws.com
DB_NAME=mlera_db
DB_USER=mlera_admin
DB_PASSWORD=postgres

# ElastiCache Configuration
ELASTICACHE_ENDPOINT=mlera-redis-cluster.23u1xx.0001.aps1.cache.amazonaws.com

# AWS Services
AWS_REGION=ap-south-1

# SQS Configuration
SQS_QUEUE_URL=https://sqs.ap-south-1.amazonaws.com/812661756903/mlera-db-operations-queue

# SNS Configuration
SNS_TOPIC_ARN=arn:aws:sns:ap-south-1:812661756903:mlera-notifications

# DynamoDB Configuration
DYNAMODB_TABLE=Users

EMAIL_QUEUE_URL=https://sqs.ap-south-1.amazonaws.com/812661756903/mlera-email-queue

# Queue ARN (for Lambda trigger): arn:aws:sqs:ap-south-1:812661756903:mlera-db-operations-queue


# Lambda Function: mlera-email-consumer
# Region: ap-south-1
# Trigger: SQS Queue (arn:aws:sqs:ap-south-1:812661756903:mlera-email-queue)

# To update Lambda code in future:
# 1. cd ProdNotification/Consumer/EmailConsumer
# 2. zip -r lambda-deployment.zip lambdaFunction.py smtpClient.py
# 3. aws lambda update-function-code --function-name mlera-email-consumer --zip-file fileb://lambda-deployment.zip --region ap-south-1