# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
.venv
env/
ENV/

# Environment
.env
.env.template
*.pem
private_key.pem

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Lambda build artifacts
lambda-layer/python/
ProdDBSystem/Consumer/package/
ProdNotification/Consumer/EmailConsumer/package/
lambda-deployment.zip

deployment.md
terraform